@font-face {
  font-family: 'Raleway';
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
}

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  width: 100%;
  max-width: 1440px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  background-image: url("../images/bg-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

a, p {
  color: #ffffff;
  font-style: none;
  text-decoration: none;
}

.fylo-dashboard {
  margin: auto;
  width: 70%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fylo-commands {
  width: 350px;
  background-color: #1d2c67;
  border-radius: 15px 80px 15px 15px;
  display: inline-block;
  height: 200px;
  min-width: 350px;
}

.fylo-commands .fylo-logo {
  padding-top: 30px;
  display: block;
  margin-left: 30px;
  margin-bottom: 35px;
}

.fylo-commands .commands-list {
  padding-bottom: 40px;
  margin-left: 30px;
}

.fylo-commands .commands-list .option-command {
  background-color: #0c122c;
  width: 24px;
  height: 24px;
  border-radius: 10px;
  padding: 14px;
  margin-right: 10px;
}

.fylo-info {
  width: 440px;
  min-width: 440px;
  color: #ffffff;
  display: inline-block;
  margin-left: 25px;
}

.content-fylo-info {
  padding: 20px 50px;
  height: 120px;
  background-color: #1d2c67;
  border-radius: 15px;
}

.info-data {
  font-weight: 400;
  color: #dddbff;
}

.info-data span {
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
}

.hotbar-data-used {
  width: 100%;
  height: 30px;
}

meter::-webkit-meter-bar {
  background: #0c122c;
  padding: 1px;
}

meter::-webkit-meter-optimum-value {
  background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 10px;
}

.min-max-data {
  display: block;
}

.min-max-data p {
  margin-top: 0;
  font-weight: 700;
  color: #dddbff;
}

.min-max-data .min-data {
  float: left;
}

.min-max-data .max-data {
  float: right;
}

.data-left {
  color: #0c122c;
  background-color: #ffffff;
  position: relative;
  width: 200px;
  top: -150px;
  left: 138px;
  border-radius: 15px 15px 0 15px;
  z-index: 1;
}

.data-left h1, .data-left h2 {
  display: inline-block;
}

.data-left h1 {
  font-size: 38px;
  margin: 16px 0;
}

.data-left h2 {
  font-weight: 300;
  font-size: 14px;
}

.data-left::after {
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border-left: 41px solid transparent;
  border-right: 0px solid transparent;
  border-top: 29px solid white;
  bottom: -18px;
  left: 79.7%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 940px) {
  .fylo-dashboard {
    width: 85%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .fylo-commands {
    margin-bottom: 50px;
    width: 100%;
    max-width: 550px;
    min-width: 0;
  }
  .fylo-commands .fylo-logo {
    margin-left: 15%;
  }
  .fylo-commands .commands-list {
    margin-left: 15%;
  }
  .fylo-commands .commands-list .option-command {
    margin-right: 15px;
    width: 28px;
    height: 28px;
    padding: 16px;
  }
  .fylo-info {
    width: 100%;
    min-width: 0;
    margin-left: 0;
  }
  .fylo-info .content-fylo-info {
    padding: 20px 20px;
  }
  .fylo-info .content-fylo-info .info-data {
    text-align: center;
  }
  .data-left {
    border-radius: 15px;
    top: 20px;
    left: 0;
    margin: auto;
    text-align: center;
  }
  .data-left::after {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  .fylo-commands .commands-list .option-command {
    width: 25px;
    height: 25px;
    padding: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .fylo-commands .fylo-logo, .fylo-commands .commands-list {
    margin-left: 10%;
  }
}

@media only screen and (min-width: 941px) {
  body {
    background-image: none;
    background-color: #0c122c;
  }
  .background-svg {
    width: 100%;
    height: 420px;
    background-repeat: no-repeat;
    background-image: url("../images/bg-desktop.png");
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */